:root{
    --violet : #5964e0;
    --light-violet : #939BF4;
    --light-grey: #F4f6f8;
    --midnight: #121721;
    --very-dark-blue: #19202d;
    --dark-grey: #6E8098;
    --gray: #9DAEC2;
    --white: #FFFFFF;

    --body-background : var(--light-grey);
    --company-name: var(--dark-grey);
    --txtBackground: var(--white);
    --txtareaColor: var(--dark-grey);
    --footer-Background: var(--white);
    --belowposition : var(--dark-grey);
    --heading-color: black;
    --centered-footer: var(--white);
    --button-background: var(--light-grey);


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    max-width: 100vw;
    overflow-x: hidden ;
}

body{
    background-color: var(--body-background);
    transition: all 0.2ms;
}

header{
    width: 100vw;
    height:80px;
    background-image:url("./assets/desktop/bg-pattern-header.svg");
    border-bottom-left-radius: 80px;
    position: static;
    display: flex;
    padding: 10px 100px 0 100px;
    justify-content:space-between;
}



.headbox{
    position: absolute;
    width: 55vw;
    height: 90px;
    background-color: var(--txtBackground);
    left:22.5vw;
    top: 45px;
}

span{
    display: flex;

}
.devjobstxt{
    font-size: x-large;
    color: white;
    font-weight: bold;

}
.toggle, .toggle-before, #check-box, #load-more, input, .searchbt, h6, .job{
    cursor: pointer;
}

.toggle{
    height: 20px;
    width: 45px;
    background-color:white;
    border-radius: 10px;  
    position: relative; 
    margin: 0 10px; 
}

.toggle-before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--violet);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    

}

.toggle-before:hover{
    background-color: var(--light-violet);
}

.toggle.active .toggle-before{
left: 28px;


}

.sun, .moon{
    height: 20px;
}

.box{
    display: flex;
    height: 90px;
}

.logo-background{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo-background img{
    width: 100%;   
}

.company_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.company_url{
margin-top: 5px;
font-size: small;
color: var(--dark-grey);
text-transform: lowercase;
}

.company_site{
    font-size: 0.75rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-weight: 700;
    color: var(--violet);
    background-color: var(--button-background);
}

.company_site:hover{
    background-color: var(--gray);
}


.container{
    width: 100vw;
    padding-top: 110px;
    margin-bottom: 90px;
}

.text_area{
    width: 55vw;
    background-color: var(--txtBackground);
    margin:  0 auto;
    padding: 30px;
}


.detail_head{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
}

._country{
    color: var(--violet);
    font-size: x-small;
    font-weight: bold;
    margin-top: 10px;
}

.apply_bt{
    height: 40px;
    width: 100px;
    background-color: var(--violet);
    border-radius: 5px;
    border: none;
    color: var(--white);
}

.apply_bt:hover{
    background-color: var(--light-violet);
}

.section-head{
    margin: 20px 0;
}

h3, h4, footer p{
    color: var(--heading-color);
}

.text_area p:not(._country){
    font-size: smaller;
    color: var(--dark-grey);
    
}

ul, ol{
    color: var(--dark-grey);
    font-size: smaller;
    list-style-position: inside;
    padding: 20px 0 20px 20px;
}


ol::marker{
    font-weight: bold;
}
li{
    margin-top: 20px;
}

footer{
width: 100%;
background-color:var(--footer-Background);
height: 90px;
}

.centered-footer{
    width: 55vw;
    margin: 0 auto;
    height: 100%;
    background-color:var(--centered-footer);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.position-footer{
    font-weight: bold;
}

.below-position{
    color: var(--dark-grey);
}

.centered-footer button{
    width: 100px;
    height: 40px;
    background-color: var(--violet);
    border: none;
    border-radius: 5px;
    color: var(--white);
}

.centered-footer button:hover{
    background-color: var(--light-violet);
}

.company_site, .centered-footer button, .apply_bt{
    cursor: pointer;
}

body.dark{
    --body-background : var(--midnight);
    --txtBackground: var(--very-dark-blue);
    --footer-Background: var(--very-dark-blue);
    --centered-footer: var(--very-dark-blue);
    --heading-color: var(--white);
    --button-background: #c9c9c9;
}



/* Small screen */
@media screen and (max-width: 550px){

    header{
        background-image:url("./assets/mobile/bg-pattern-header.svg");
        padding: 20px;
        display: flex;
        justify-content: space-between;


    }
}