:root{
    --violet : #5964e0;
    --light-violet : #939BF4;
    --light-grey: #F4f6f8;
    --midnight: #121721;
    --very-dark-blue: #19202d;
    --dark-grey: #6E8098;
    --gray: #9DAEC2;
    --job-background: #FFFFFF;
    --f0nt-color: black;
    --body-background: var(--light-grey);
    --checkbox-color: var(--light-grey);
    --label-color: black;
    --border: var(--light-grey);
    


}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  
}

body{
    background-color: var(--body-background);
    font-family: 'Kumbh Sans', sans-serif;  
    overflow-x: hidden;  
}

.header{
    width: 100vw;
    height:90px;
    background-image:url("./assets/desktop/bg-pattern-header.svg");
    border-bottom-left-radius: 65px;
    position: static;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span{
    display: flex;
    position: absolute;
    top: 10px;
    right: 50px;

}

span{
    display: flex;
    align-items: center;
}
.devjobstxt{
    font-size: x-large;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 50px;

}
.toggle, .toggle-before, #load-more, input, .searchbt, h6, .job{
    cursor: pointer;
}

.toggle{
    height: 20px;
    width: 45px;
    background-color:white;
    border-radius: 10px;  
    position: relative; 
    margin: 0 10px; 
}

.toggle-before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--violet);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    

}

.toggle-before:hover{
    background-color: var(--light-violet);
}

.toggle.active .toggle-before{
 left: 28px;


}

.sun, .moon{
    height: 14px;
}

.searchbar1{
    width: 930px;

    height: 60px;
    background-color: var(--job-background);
    position: absolute;
    z-index: 1;
    top:60px;
    display: flex;
    z-index: 1;
}

input[type="checkbox"] {
    display:none ;
  }

  input[type="checkbox"] + label {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--checkbox-color);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  transition: background-color 0.3s ease;
  }

  input[type="checkbox"] + label::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./assets/desktop/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    }

    input[type="checkbox"]:checked + label {
        background-color:var(--violet);
      }



.searchbar2, .searchbar3{
    position: absolute;
    display: none;
}
.bar{
    display: flex;
    height: 100%;
    width: 100%;
    border-right: 2px solid var(--border);
    align-items: center;
    padding: 0 0 0 20px;
}

.spaced{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;

}
.bar input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--job-background);
    color: var(--font-color); 
}
.bar img{
    width: 20px;
    margin-right: 20px;
}

.jobs-container{
    margin: 0 auto;
    display: flex;
    width: 930px;
    justify-content: center;
    padding-top: 100px;
}


.jobs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.4em;
    justify-content: space-between;

    
}

.job{
    position: relative;
    width:300px ;
    background-color: var(--job-background);
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 6px;
}
._logo-background{
   position: absolute;
   top: -20px;
   left: 30px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

._postedAt, ._company, ._location{
font-size: smaller;
margin: 8px 0;

}

.job:hover h6{
color: var(--dark-grey);
}

h6{
    font-size: small;
    font-weight:bold ;
    margin: 0;
    color: var(--font-color);
}
._location{
    margin: 20px 0 0 0 ;
    color: var(--violet);
    font-size: x-small;
    font-weight: bold;
}

._postedAt, ._company{
color: var(--gray);
}


.load-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
label{
    font-size: 13px;
    font-weight: 400;
    color: var(--label-color);
}

.searchbt{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--violet);
    
}

.searchbt:hover{
    background-color: var(--light-violet);
}


#load-more{
    color: white;
    background-color: var(--violet);
    border: none;
    width: 90px;
    height: 30px;
       
}
#load-more:hover{
    background-color: var(--light-violet);
}

.footer{
    width: 100%;
    height: 70px;
    position: static;
}

.footer img{
    width: 100%;
    height: 100%;
}

::placeholder{
    font-size: small;
    font-family: "Kumbh Sans";
}
 a, a.visited{
    text-decoration: none;
    color: black;  
}



/* Dark mode */

body.dark{
--body-background : var(--midnight);
--job-background: var(--very-dark-blue);
--font-color: white;
--checkbox-color: #979797;
--label-color: white;
--border: var(--dark-grey);

}

footer{
    height: 16vh;
    display: flex;
    align-items:flex-end;
    overflow: hidden;
}
.popcontainer{
    max-width: 90vw;
    display: flex;
    justify-content: center;
}

.pop-up{
    height: 300px;
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--job-background);
    padding: 0 20px;
    display: none;
    z-index: 10;
}

.Filter-location{
    display: flex;
    width: 100%;
    border-bottom: solid 0.5px var(--dark-grey);
    height: 120px;
    align-items: center;
    justify-content: center;

}

.Filter-location img{
    height: 35px;
    margin-right: 20px;
}

.Filter-location input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: large;
    background-color: var(--job-background);
    color: var(--font-color);
    
}

.Filter-location input::placeholder{
    font-size: large;
}

.pop-up span{
   margin:20px;
    align-items: center;
}

.pop-up span .check-box{
    margin-right: 30px;
    margin-left: 0;
}

.pop-up button{
    width: 100%;
    background-color: var(--violet);
    color: white;
    height: 55px;
    font-size: larger;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.pop-up button:hover{
    background-color: var(--light-violet);
}

 .pop-up #checkbxLabel{
    font-size: large;
    color: var(--font-color);
 }

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
  }
  


/* Resposive design */



/* Small screen */
@media screen and (max-width: 550px)
{

    .header{
        width: 100vw;
        background-image: url("./assets/mobile/bg-pattern-header.svg");
        padding: 10px 20px 0 20px;
        border-radius: 0;

    }

    .devjobstxt{
        font-size:larger;
        left: 8vw;
    }

    .jobs-container{
        width: 100vw;
    }

    .jobs{
        justify-content: center;
    }
    .job{
        width: 85vw;
    }

    .searchbar3{
        display: flex;
        z-index: 1;
        width: 95vw;
        align-items: center;
        padding: 20px;
        height: 50px;
        justify-content: space-between;
         position: absolute;
         top: 60px;

    }

    .filter-button{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .searchbar2, .searchbar1{
        position: absolute;
        display: none;

    }

    .small-bar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 10px;
        background-color: var(--job-background);
    }

    #S-img{
        height: 20px;
    }

    #S-button{
        width: 45px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-left: 15px;
        background-color: var(--violet);
    }

    button#S-button img#isvg {
        fill: white;
        z-index: 3;
      }

    .bar{
        display: none;
    }

    #S-input{
        border: none;
        width: 50%;
        background-color: var(--job-background);
        color: var(--font-color);
        outline: none;

    }

    .footer img{
        src: url(./assets/mobile/bg-pattern-detail-footer.svg);
        width: 100vw;
    }

}

/* Tablet screen */

@media screen and (min-width: 551px) and (max-width: 960px) {
    .header{
        background-image: url("./assets/tablet/bg-pattern-header.svg");
    }
    
    .jobs-container{
        width: 80vw;
        margin: 0 auto;
        

    }

    .jobs{
        width: 100%;
        justify-content: center;
        column-gap: 20px;
    }

    .job{
        max-width: 38.4vw;
        min-width: 200px;
    }
    .jobs::after{
        content: "";
        width: 200px;
    }

    .searchbar2{
        width: 80vw;
        height: 60px;
        background-color: var(--job-background);
        position: absolute;
        z-index: 1;
        top:60px;
        display: flex;
        z-index: 1;
    }

    .searchbar2 label{
        font-size: 11px;
    }
    .searchbar1, .searchbar3{
        position: absolute;
        display: none;
    }

    ::placeholder{
        font-size: 10px;
    }

    
}



