:root{
    --violet : #5964e0;
    --light-violet : #939BF4;
    --light-grey: #F4f6f8;
    --midnight: #121721;
    --very-dark-blue: #19202d;
    --dark-grey: #6E8098;
    --gray: #9DAEC2;
    --job-background: #FFFFFF;
    --f0nt-color: black;
    --body-background: var(--light-grey);
    --checkbox-color: var(--light-grey);
    --label-color: black;
    


}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  
}

body{
    background-color: var(--body-background);
    font-family: 'Kumbh Sans', sans-serif;  
    overflow-x: hidden;  
}

.header{
    width: 100vw;
    height:80px;
    background-image:url("./assets/desktop/bg-pattern-header.svg");
    border-bottom-left-radius: 80px;
    position: static;
    z-index: 1;
    display: flex;
    padding: 20px 100px 0 100px;
    justify-content: space-between;
}

span{
    display: flex;

}
.devjobstxt{
    font-size: large;
    color: white;
    font-weight: bold;

}
.toggle, .toggle-before, #check-box, #load-more, input, .searchbt, h6, .job{
    cursor: pointer;
}

.toggle{
    height: 14px;
    width: 30px;
    background-color:white;
    border-radius: 9px;  
    position: relative; 
    margin: 0 10px; 
}

.toggle-before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--violet);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    

}

.toggle-before:hover{
    background-color: var(--light-violet);
}

.toggle.active .toggle-before{
left: 18px;


}

.sun, .moon{
    height: 14px;
}

.searchbar{
    width: 930px;

    height: 60px;
    background-color: var(--job-background);
    position: absolute;
    z-index: 1;
    top:50px;
    display: flex;
    z-index: 1;
}
.bar{
    height: 100%;
    width: 100%;
    border-right: 2px solid var(--light-grey);
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}

.spaced{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.bar input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--job-background);
}
.bar img{
    width: 20px;
    margin-right: 20px;
}

#check-box{
    background-color: var(--checkbox-color);
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 3px;
    margin-right: 15px;
}
#check-box img{
    width: 100%;
    height: 100%;
}
#check-box:hover{
    background-color: var(--violet);
}


.jobs-container{
    margin: 0 auto;
    display: flex;
    max-width: 930px;
    justify-content: center;
    padding-top: 100px;
}


.jobs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.4em;
    justify-content: space-between;

    
}

.job{
    position: relative;
    width:300px ;
    background-color: var(--job-background);
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 6px;
}
._logo-background{
   position: absolute;
   top: -20px;
   left: 30px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

._postedAt, ._company, ._location{
font-size: smaller;
margin: 8px 0;

}

h6:hover{
color: var(--dark-grey);
}

h6{
    font-size: small;
    font-weight:bold ;
    margin: 0;
    color: var(--font-color);
}
._location{
    margin: 20px 0 0 0 ;
    color: var(--violet);
    font-size: x-small;
    font-weight: bold;
}

._postedAt, ._company{
color: var(--gray);
}


.load-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
label{
    font-size: 13px;
    font-weight: 400;
    color: var(--label-color);
}

.searchbt{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--violet);
    
}

.searchbt:hover{
    background-color: var(--light-violet);
}


#load-more{
    color: white;
    background-color: var(--violet);
    border: none;
    width: 90px;
    height: 30px;
       
}
#load-more:hover{
    background-color: var(--light-violet);
}

.footer{
    width: 100%;
    height: 70px;
    position: static;
}

.footer img{
    width: 100%;
    height: 100%;
}

::placeholder{
    font-size: small;
    font-family: "Kumbh Sans";
}
 a, a.visited{
    text-decoration: none;
    color: black;  
}



/* Dark mode */

body.dark{
--body-background : var(--midnight);
--job-background: var(--very-dark-blue);
--font-color: white;
--checkbox-color: #979797;
--label-color: white;

}